@import url("reset.css");

:root {
  --header-height: 60px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: var(--header-height);
}

.header {
  background-color: #ffffff;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.header__content {
  width: 1050px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 0;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-image {
  display: block;
  width: auto;
  height: 20px;
}

.header__menu-group {
  display: flex;
  gap: 20px;
}

.header__nav-list {
  display: flex;
  gap: 20px;
}

.header__nav-item {
  display: flex;
  align-items: center;
}

.header__nav-link {
  display: block;
  padding: 12px 10px;
  font-size: 15px;
  color: #4e5968;
  opacity: 0.8;
  letter-spacing: -0.025rem;
  text-align: center;
  line-height: 1.5;
}

.header__search {
  padding: 12px 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4e5968;
}

.header__search-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header__nav-link:hover,
.header__search:hover,
.header__nav-link:focus,
.header__search:focus {
  background-color: #f4f5f6;
  border-radius: 8px;
  color: #0056b3;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__layout {
  width: 100%;
  max-width: 1500px;
  display: flex;
  gap: 20px;
}

.heading {
  font-size: 14px;
  font-weight: 400;
  color: #8b95a1;
  margin-bottom: 20px;
}

.main__series,
.main__articles,
.main__authors {
  margin: 80px 30px;
}

.main__series,
.main__authors {
  min-width: 235px;
  max-width: 285px;
}

.main__articles {
  min-width: 365px;
  max-width: 670px;
}

.articles__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.articles__image,
.series__image,
.authors__image {
  border-radius: 10px;
}

.articles__image {
  width: 670px;
  height: 450px;
  margin-bottom: 20px;
}

.articles__category {
  font-size: 15px;
  color: #8b95a1;
}

.articles__title {
  font-size: 32px;
  font-weight: 500;
  color: #333d4b;
}

.articles__title:hover {
  color: #3182f6;
}

.articles__description {
  font-size: 16px;
  color: #8b95a1;
}

.articles__date {
  color: #8b95a1;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
